.main {
	min-height: calc(100vh - var(--header-height) - var(--header-height));
	background-color: lightgreen;
	display: flex;
	&__left-part {
		background-color: lightblue;
	}
	&__right-part {
		width: 100%;
		background-color: lightsteelblue;
	}
}
