:root {
	--header-height: 64px;
	--aside-width: 600px;
	--accents-dark-1: black;
	--accents-light-1: white;
	--accents-light-2: rgb(220, 220, 220);
	--accents-light-3: rgb(192, 192, 192);

	--color-light-grey: #ccc;
	--color-dark-grey: rgb(66, 66, 66);

	--box-shadow--list-items: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
		0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

body {
	font-family: 'Roboto', sans-serif;
}

body,
div,
ul,
form,
img,
input {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

.content {
	width: 100%;
	max-width: 1600px;
	min-width: 600px;
	margin: 0 10%;
}

@media (max-width: 1200px) {
	.content {
		margin: 0 5%;
	}
}
@media (max-width: 600px) {
	.content {
		margin: 0 0;
	}
}

.btn {
	background-color: var(--accents-dark-1);
	cursor: pointer;

	color: var(--accents-light-1);
	&__content {
		&--success {
			background-color: rgb(24, 195, 104);
		}
	}
}
