.footer {
	display: flex;
	justify-content: center;
	height: var(--header-height);
	background-color: black;
	color: white;

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
