.footer {
	display: flex;
	justify-content: center;
	height: var(--header-height);
	background-color: var(--accents-dark-1);
	color: var(--accents-light-1);

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
