.tree {
}

.cell {
	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	a {
		&:hover {
			color: rgb(44, 162, 215);
			cursor: pointer;
			transition-delay: 0s;
		}
		&.active {
			color: var(--accents-light-1);
		}
	}
}
