.form {
	&-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__input {
		&--wrapper {
			display: flex;
			flex-direction: column;
			margin: 10px 0;
			box-sizing: border-box;
		}
		&--label {
			color: var(--color-black);
			margin-bottom: 5px;
			span {
				color: red;
			}
		}
		&--input {
			&.error {
				border-color: red;
			}
		}
		&--error {
			margin-top: 10px;
			color: red;
		}
	}

	&__btn {
		&__submit {
			margin-top: 30px;
			font-size: 1.2em;
		}
	}
}
