.form {
	&-wrapper {
		display: flex;
		flex-direction: column;
	}

	&__input {
		&--wrapper {
			display: flex;
			flex-direction: column;
			margin: 10px 0;
			box-sizing: border-box;
		}
		&--label {
			color: var(--accents-light-1);
			margin-bottom: 5px;
		}
		&--input {
			// background-color: rgba(0, 0, 0, 0.6);
			// color: var(--accents-light-1);
		}
	}

	&__btn {
		&__submit {
			margin-top: 30px;
			font-size: 1.2em;
		}
	}
}
