.header {
	display: flex;
	justify-content: center;
	height: var(--header-height);
	background-color: black;
	color: white;

	&-wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__logo {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		width: var(--aside-width);
		background-color: brown;
	}
	&__nav {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: lightgreen;
	}
	&__search {
		width: 200px;
		height: 30px;
	}
}
